body {
    font-family: Nunito;
    width: 100%;
    margin: 0 auto;
}

a {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #E3B873;
}

a:visited {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

h2 {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
}

h3 {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

h4 {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;

}

h5 {
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin-top: 10px;
    margin-bottom: 10px;
}

h6 {
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: underline #E3B873;
    margin-bottom: 10px;
}

@media (max-width: 768px) {

    h1,
    h2,
    h3 {
        font-size: 23px;
        line-height: 132.83%;
    }
}

p,
label,
input {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    padding: 13px 33px 13px 33px;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-style: none;
}

@media (max-width: 768px) {
    .button {
        margin-top: 25px;
        width: 100%;
    }
}

.content {
    width: 1440px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .content {
        width: 768px;
    }
}

.list {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    padding-left: 15px;
}

.price {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.text--orange {
    color: #E3B873;
}

/* ---Header and Footer--- */

header,
footer {
    width: 1440px;
    height: 83px;
    background-color: #131313;
    margin: 0 auto;
}

.header,
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    padding-left: 60px;
    padding-right: 60px;
}

@media (max-width: 768px) {
    footer {
        display: none;
    }

    .header {
        padding-left: 15px;
        padding-right: 15px;
        height: 65px;
        width: 768px;

    }

    .header__menu,
    .header-button {
        display: none;
    }
}


/* ---Main--- */

.main {
    position: relative;
    background-image: url("../images/image\ 4.jpg");
    height: 808px;
    /* padding-top: 56%; */
    background-repeat: no-repeat;
    background-size: cover;
}

.main__info {
    position: absolute;
    /*width: 676.11px;
    height: 305px;
    left: 134px;
    top: 277px;*/
    width: 40%;
    height: 30%;
    left: 10%;
    top: 25%;
    z-index: 2;
}

.main__info--text {
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.main__info--button {
    padding-left: 40px;
    padding-right: 40px;
}

.button--transparent {
    background: rgba(255, 245, 215, 0);
    border: 1px solid #FFFFFF;
    margin-left: 15px;
    padding-left: 23px;
    padding-right: 23px;
}

@media (max-width: 768px) {
    .main {
        height: 476px;
    }

    .main__info {
        width: 100%;
        height: 100%;
        left: 0%;
        top: 0%;
        padding: 60px 15px 40px 15px;
    }

    .main__info--text {
        font-size: 14px;
        line-height: 135.84%;
    }

    .button--transparent {
        margin-left: 0px;
    }
}

/* ---Projects--- */

.projects {
    display: flex;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 350px;
    /* width: 100%; */
    justify-content: space-between;
    background: #131313;
}

.projects__left {
    display: flex;
    width: 30%;
    margin: 70px 20px 100px 136px;
    flex-wrap: wrap;
}

.projects__left--text {
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.projects__left--info {
    flex-grow: 2;
    width: 100%;
}

.projects__left--sample {
    flex: 0 50%;
}

.projects__left--description {
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.projects__right {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    margin: 10px;
    justify-content: space-evenly;
}

.projects__right--menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-right: 200px;
}

.projects__right--img {
    flex: 2 100%;
}

/*@media (min-width: 768px) {
    .projects {
        padding: 18px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projects__left--text {
        font-size: 11px;
        line-height: 158.48%;
        text-align: center;

    }

    .projects__left--img {
        display: none;
    }
}
    .projects__right {
        display: none;
    }

    .projects__left {
        width: 100%;
    }
}

/* ---Control--- */

.control {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: -350px;
    margin-bottom: 85px;
}

.control__title {
    color: #FFFFFF;
}

.control__icon {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
}

.control__icon--img {
    margin: 10px;
}

.control__text {
    width: 50%;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    text-align: center;
    margin-top: 30px;
}

.control__request--label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    margin-right: 30px;
}

.control__request--field {
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    border: none;
    border-bottom: 2px solid rgba(48, 46, 46, 0.15);
    margin-left: 10px;
    margin-right: 10px;
}

.control__request--button {
    padding-left: 75px;
    padding-right: 75px;
}

.control__request--agree {
    font-size: 14px;
    color: #181818;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .control {
        background-color: #131313;
    }

    .control__title,
    .control__text,
    .control__request--field,
    .control__request--agree {
        color: #FFFFFF;
    }
}

/* ---Repair and Design--- */

.repair,
.design {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.repair__icon,
.design__icon {
    display: flex;
    align-items: center;
}

.design__text {
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
}

.repair__icon--img,
.design__icon--img {
    margin: 10px;
}

.repair-wrap,
.design-wrap {
    display: flex;
    justify-content: space-evenly;
    margin-right: 60px;
}

.repair__info,
.design__info {
    margin: 15px;
    text-align: left;
}

.repair__info--list,
.design__info--list {
    margin-top: -150px;
    z-index: 2;
    padding: 20px;
    background-color: white;
    width: 70%;
    margin-left: 35px;
    position: relative;
    box-shadow: 7px 7px 10px rgba(184, 183, 183, 0.2);
}

.repair__info--price,
.design__info--price {
    background-color: #E3B873;
    text-align: center;
    padding: 1px 2px 1px 2px;
    width: 50%;
    z-index: 3;
    margin-top: -30px;
    margin-left: 35px;
    position: relative;
    box-shadow: 5px 5px 7px rgba(184, 183, 183, 0.2);
}

/* ---Measurer--- */

.measurer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
}

.measurer__list--text {
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}

.measurer__background {
    width: 55%;
    position: relative;
}

.measurer__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    left: 220px;
    top: 90px;
    right: 90px;
    bottom: 55px;
}

.measurer__list img {
    width: 20%;
}

.measurer__list p {
    width: 80%;
}

.measurer__request {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    align-content: center;
    margin-top: 150px;
}

.measurer__request--form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #131313;
    padding: 20px 35px 15px 35px;
    width: 80%;
    margin-right: 30px;
}

.measurer__request--legend {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.measurer__request--label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 25px;
}

.measurer__request--field {
    width: 100%;
    margin-top: 7px;
}

.measurer__request--agree {
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
    margin-top: 25px;
    align-self: center;
}

.measurer__request--form button {
    width: 213px;
    height: 51px;
    align-self: flex-end;
    margin-top: 40px;
}

.measurer__request--text {
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.measurer__request img {
    width: 15%;
}

.measurer__request p {
    width: 85%;
}

.measurer__request--field {
    background-color: #131313;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}

.measurer__request--field::placeholder {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .measurer {
        display: none;
    }
}

/* ---Fantasies--- */

.fantasies {
    background-image: url("../images/Group\ 22.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 250px;
    padding-right: 50px;
}

.fantasies__list {
    margin: 120px 150px 100px 100px;
}

.fantasies__list--list {
    list-style-type: none;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
}

.fantasies__central {
    margin-top: -100px;
}

.fantasies__right {
    margin-top: -180px;
}

.fantasies__img {
    margin: 50px 25px 50px 25px;
}

/* ---Goals--- */

.goals {
    display: flex;
    background-color: #131313;
    padding-top: 500px;
    padding-bottom: 600px;
    margin-top: -500px;
}

.goals__left {
    width: 25%;
    margin: 10px 100px 300px 100px;
}

.goals__left--title {
    font-size: 13px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.goals__left--number {
    color: #FFFFFF;
}

.goals__left--text {
    font-size: 13px;
    line-height: 27px;
    color: #FFFFFF;
}

.goals__right {
    display: flex;
    flex-direction: column;
}

.goals__right--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.goals__right--item {
    width: 30%;
    font-size: 13px;
    line-height: 19px;
    color: #FFFFFF;
    margin-right: 20px;
}

/* ---Team--- */
.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -550px
}

.team__title {
    color: #FFFFFF;
}

.team__text--white {
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.team__icon {
    display: flex;
    align-items: center;
}

.team__icon--img {
    margin: 10px;
}

.team__photos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.team__photos--item {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.team__photos--icon {
    align-self: flex-start;
    margin: 0px 0px 0px -55px;
    padding: 0;
    z-index: 3;
}

.team__photos--foto {
    margin-top: -60px;
}

.team__photos--description {
    text-align: center;
    width: 80%;
    align-self: flex-end;
    position: relative;
    align-self: center;
    z-index: 2;
    margin-top: -100px;
    background-color: #FFFFFF;
}

.team__photos--text {
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #959595;
}

.team__photos--orange {
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #E3B873;
    padding-top: 10px;
    padding-bottom: 10px;
}

.team__text {
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}